<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Comentários</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body class="w-full h-screen flex flex-col bg-slate-300">
    <!-- header -->
    <header class="p-5 flex gap-4 flex-col bg-slate-600">
      <h1 class="text-4xl font-bold text-center text-white">
        Sistema de Comentários
      </h1>
      <nav>
        <ul class="flex justify-center space-x-4">
          <li>
            <a
              class="text-white font-bold p-2 border-2 rounded-2xl border-slate-400 hover:text-slate-400"
              href="/"
              >Atualizar</a
            >
          </li>
          <li>
            <a
              class="text-white font-bold p-2 border-2 rounded-2xl border-slate-400 hover:text-slate-400"
              href="/comentarios"
              >Novo Comentário</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="flex flex-1 justify-center w-full p-4 overflow-auto">
      <div
        class="container-comentarios w-full grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
      ></div>
    </main>
    <!-- Rodapé (opcional) -->
    <footer class="p-4 w-full bg-slate-600 text-center text-white text-sm">
      <p class="font-bold text-lg">&copy; 2025 Sistema de Comentários</p>
    </footer>
  </body>
  <script src="/js/index.js"></script>
</html>
